In [2]:
#Python basics for ML
#Variable and Data Types
# Variables are used to store the data

name = "Abhinadan"
age = 24
height = 5.8
is_student = True

print("Name:", name)
print("age:", age)
print("height:", height)
print("student:", is_student)

print("Data types")
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

Name: Abhinadan
age: 24
height: 5.8
student: True
Data types
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [4]:
# List - Store multiple values
#List are Ordered And Mutable(Changeable)
#Create List
marks = [78, 85, 90, 88]
print("Marks:", marks)
print("First element:", marks[0])
print("last element:", marks[-1])

#Add new value
marks.append(95)
print("After adding:", marks)

#Remove value
marks.remove(85)
print("After removing 85:", marks)

#sort value
marks.sort()
print("sorted:", marks)
#The values of List are sequential and also modified

Marks: [78, 85, 90, 88]
First element: 78
last element: 88
After adding: [78, 85, 90, 88, 95]
After removing 85: [78, 90, 88, 95]
sorted: [78, 88, 90, 95]

In [8]:
#DICTIONARIES
#Dictionary can store the Data in "Key:Value" pair
Student = {
    "Name": "Abhinadan",
    "Age": 24,
    "course": "Data science",
    "marks":[80,85,90]
}
print("Student info:", Student)
print("Name:", Student["Name"])
print("course:", Student["course"])

#Add new key-value pair
Student["grade"] = "A"
print("updated Dictionary:", Student)
#In dictionary the data structured are lavelled-- usefull for datasets

Student info: {'Name': 'Abhinadan', 'Age': 24, 'course': 'Data science', 'marks': [80, 85, 90]}
Name: Abhinadan
course: Data science
updated Dictionary: {'Name': 'Abhinadan', 'Age': 24, 'course': 'Data science', 'marks': [80, 85, 90], 'grade': 'A'}

In [9]:
#FOR LOOP
#For Loop can iterate in List or Range
marks = [80,85,90,95]
total = 0
for m in marks:
    total += m
average = total/len(marks)
print("Average Marks:", average)
#loop can added the value of marks in total and then find average

Average Marks: 87.5

In [10]:
#Functions
#A function groups code that is used repeatedly
def calculate_average(marks):
    total = sum(marks)
    avg = total/len(marks)
    return avg

marks = [80,85,90,95]
average = calculate_average(marks)
print("Average Marks (using function):", average)

#A function is define with def

Average Marks (using function): 87.5

In [11]:
#NumPy
#NumPy are used for numeric calculations and arrays
import numpy as np
arr = np.array([1,2,3,4,5])
print("Array:", arr)
print("Mean:",np.mean(arr))
print("Standard deviation:", np.std(arr))
print("Sum:",np.sum(arr))

Array: [1 2 3 4 5]
Mean: 3.0
Standard deviation: 1.4142135623730951
Sum: 15

In [12]:
#Pandas
#Pandas = DataFrames
import pandas as pd 
#create DataFrame
data = {
    "Name":["Abhinadan", "Ravi", "Sneha"],
    "Marks":[85,90,78],
    "city":["Delhi","Mumbai","Jaipur"]
}
df = pd.DataFrame(data)
print(df)
#Access column
print("\nMarks column:")
print(df["Marks"])
#Filter data
print("\nStudent with Marks > 80:")
print(df[df["Marks"]>80])
#In Pandas we process the data like Excel table

        Name  Marks    city
0  Abhinadan     85   Delhi
1       Ravi     90  Mumbai
2      Sneha     78  Jaipur

Marks column:
0    85
1    90
2    78
Name: Marks, dtype: int64

Student with Marks > 80:
        Name  Marks    city
0  Abhinadan     85   Delhi
1       Ravi     90  Mumbai

In [15]:
#Dictionary
college_student = {
    "Name" : "Abhinadan",
    "Age" : 24,
    "Course" : "Msc Data Science",
    "Marks" : 7.5
}
print("student info:", college_student)
print("Name:", college_student["Name"])
print("Stream:", college_student["Course"])

import pandas as pd
data = {
    "Name": ["Abhinadan", "kavlin", "Ritik"],
    "Age": [24,23,21],
    "Course" : ["Msc Data Science", "MCA AI", "MCA Cloud"],
    "Marks" : [85,98,85]
}
df = pd.DataFrame(data)
print(df)
#Filter data
print("\n student with marks > 75:")
print(df[df["Marks"]>75])

student info: {'Name': 'Abhinadan', 'Age': 24, 'Course': 'Msc Data Science', 'Marks': 7.5}
Name: Abhinadan
Stream: Msc Data Science
        Name  Age            Course  Marks
0  Abhinadan   24  Msc Data Science     85
1     kavlin   23            MCA AI     98
2      Ritik   21         MCA Cloud     85

 student with marks > 75:
        Name  Age            Course  Marks
0  Abhinadan   24  Msc Data Science     85
1     kavlin   23            MCA AI     98
2      Ritik   21         MCA Cloud     85